<ion-header-bar class="bar-calm">
  <a class="button icon button-clear ion-android-arrow-back" href="#/itinerary"></a>
  <h2 class="title">Khám phá hấp dẫn</h2>
  <a class="button icon button-clear ion-heart"></a>
</ion-header-bar>

<ion-content class="padding">
  <div class="list card">
    <div class="item item-image">
      <img src="./img/thailand.jpg">
    </div>
    <div class="item">
      <h2>The Verandah</h2>
      <span class="item-text-wrap">
         <h5>
           <i class="icon ion-map"></i>&nbsp;48, Oriental Ave, Bang Rak, Bangkok 10500, Thailand
         </h5>
        <h5>
          <i class="icon ion-android-phone-portrait"></i>&nbsp;+66-26599000
        </h5>
      </span>
    </div>
  </div>
  <div class="list card">
    <div class="item item-icon-left">
      <i class="icon ion-information"></i>
      <h3>Thông tin chung</h3>
    </div>
    <div class="item item-text-wrap">
      <h6>
        The Verandah is an a place serving international cuisine where you will be offered everything right from
        delicious food, deserts to the spectacular river side view while you are dining.</br></br>

        The hotel is located on the side of River Chao Phraya and the Verandah is said to be one of the best options to
        take boats on the water. You will have an option to sit indoors or outdoors and chill-out. At night the place is
        very romantic as the terrace of The Verandah is lit up with numerous candles.</br></br>
      </h6>
    </div>
  </div>
  <div class="list card">
    <div class="item item-icon-left">
      <i class="icon ion-key"></i>
      <h3>Một số mẹo</h3>
    </div>
    <div class="item item-text-wrap">
      <h6>
        The hotel is located on the side of River Chao Phraya and the Verandah is said to be one of the best options
        to
        take boats on the water. You will have an option to sit indoors or outdoors and chill-out. At night the place
        is
        very romantic as the terrace of The Verandah is lit up with numerous candles.
      </h6>
    </div>
  </div>
  <div class="list card">
    <div class="item item-icon-left">
      <i class="icon ion-person"></i>
      <h3>Chia sẻ từ người tạo lịch trình</h3>
    </div>
    <div class="item item-text-wrap">
      <h6>
        - It is strongly recommended that you reserve your seats before visiting.
        - Parking space is available.
        - Tourists are requested to follow the proper dress code.
        - Price amount varies accordingly.
      </h6>
    </div>
  </div>
</ion-content>
