<ion-view view-title="Danh sách thành phố">
  <ion-content class="has-header padding" ng-controller="cityCtrl">
    <div class="list">
      <label class="item item-input item-select">
        <div class="input-label">
          Chọn nước
        </div>
        <select ng-model="city.countryId" ng-change="showCities(city.countryId)">
          <option ng-selected="{{country.$id == city.countryId}}"
                  ng-repeat="country in countries" value="{{country.$id}}">
            {{country.name}}
          </option>
        </select>
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Tên thành phố</span>
        <input type="text" placeholder="Tên thành phố" ng-model="city.name">
      </label>
      <label class="item item-input item-stacked-label">
        <input type="text" placeholder="Mã thành phố" ng-model="city.code">
      </label>
      <label class="item item-input item-stacked-label">
        <input type="text" placeholder="Ảnh" ng-model="city.imgUrl">
      </label>
      <label class="item item-input item-stacked-label">
        <textarea placeholder="Thông tin chung" ng-model="city.shortDesc"></textarea>
      </label>
      <label class="item item-input item-stacked-label">
        <textarea placeholder="Thông tin chi tiết" ng-model="city.longDesc"></textarea>
      </label>
    </div>
    <button class="button button-calm button-full" ng-click="saveOrUpdate(city)">Tạo/Sửa</button>
    <div class="list">
      <a class="item item-thumbnail-left" href="#" ng-repeat="city in cities" ng-click="show(city)">
        <img ng-if="city.imgUrl" src="{{city.imgUrl}}">
        <img ng-if="!city.imgUrl" src="./img/logo.jpg">
        <h2>{{city.name}}</h2>
        <p>{{city.code}}</p>
        <button class="button icon ion-android-delete" ng-click="cities.$remove(city)"></button>
      </a>
    </div>
  </ion-content>
</ion-view>
