<ion-view view-title="Danh sách đất nước">
  <ion-content class="has-header padding" ng-controller="countryCtrl">
    <div class="list">
      <label class="item item-input item-floating-label">
        <input type="text" placeholder="Tên nước" ng-model="country.name">
      </label>
      <label class="item item-input item-floating-label">
        <input type="text" placeholder="Mã nước" ng-model="country.code">
      </label>
      <label class="item item-input item-floating-label">
        <input type="text" placeholder="Ảnh" ng-model="country.imgUrl">
      </label>
      <label class="item item-input item-floating-label">
        <textarea ng-model="country.shortDesc" placeholder="Thông tin chung" rows="3"></textarea>
      </label>
      <label class="item item-input item-floating-label">
        <textarea ng-model="country.longDesc" placeholder="Thông tin chi tiết" rows="7"></textarea>
      </label>
    </div>
    <button class="button button-calm button-full" ng-click="saveOrUpdate(country)">Tạo/Sửa</button>
    <div class="list">
      <a class="item item-thumbnail-left" href="#" ng-repeat="country in countries" ng-click="show(country)">
        <img ng-if="country.imgUrl" src="{{country.imgUrl}}">
        <img ng-if="!country.imgUrl" src="./img/logo.jpg">
        <h2>{{country.name}}</h2>
        <p>{{country.code}}</p>
        <button class="button icon ion-android-delete" ng-click="countries.$remove(country)"></button>
      </a>
    </div>
  </ion-content>
</ion-view>
