<ion-view view-title="{{itinerary.name}}" ng-controller="itineraryDetailCtrl">
  <ion-content>
    <div class="item item-image">
      <img ng-if="itinerary.imgUrl" ng-src="{{itinerary.imgUrl}}">
      <img ng-if="!itinerary.imgUrl" ng-src="./img/logo.jpg">
    </div>
    <div class="item item-body">
      <h1>{{itinerary.name}}</h1>
      <h2>{{itinerary.desc}}</h2>
    </div>

    <div class="list" ng-repeat="day in itinerary.days"
         ng-init="city=getCity(day.cityId)">
      <label class="item energized-bg ion-calendar">
        Ngày {{$index+1}} - {{city.name}}
      </label>
      <!-- activities -->
      <div ng-repeat="activity in day.activities | orderBy: 'startime'"
           ng-init="attraction=getAttraction(day.cityId, activity.attractionId)">
        <div class="item item-divider ion-clock"> {{activity.starttime}}</div>
        <a class="item item-thumbnail-left" href="#">
          <img ng-if="attraction.imgUrl" src="{{attraction.imgUrl}}">
          <img ng-if="!attraction.imgUrl" src="./img/logo.jpg">
          <h2>{{attraction.name}}</h2>
          <p>{{attraction.shortDesc}}</p>
        </a>
      </div>
    </div>
  </ion-content>
</ion-view>
