<ion-view view-title="Tạo lịch trình">
  <ion-content class="has-header padding" ng-controller="itineraryCtrl">
    <!-- Country -->
    <label class="item item-input item-select">
      <div class="input-label">
        Chọn nước
      </div>
      <select ng-model="countryId">
        <option ng-selected="country.$id == countryId"
                ng-repeat="country in countries" value="{{country.$id}}">
          {{country.name}}
        </option>
      </select>
    </label>
    <label class="item item-input item-stacked-label">
      <span class="input-label">Chuyến đi thú vị này là</span>
      <input type="text" placeholder="Du lịch bụi không tốn tiền ..." ng-model="itinerary.name">
    </label>
    <label class="item item-input item-stacked-label">
      <span class="input-label">Hãy tóm tắt một chút về chuyến đi này</span>
      <textarea placeholder="Chuyến đi của tôi về ..." rows="5" ng-model="itinerary.desc"></textarea>
    </label>
    <label class="item item-input item-stacked-label">
      <span class="input-label">Bức ảnh đáng nhớ nhất</span>
      <input type="text" ng-model="itinerary.imgUrl">
    </label>
    <button class="item button button-full button-assertive" ng-click="createItinerary()" ng-show="itinerary.$id==null">
      Tạo lịch trình
    </button>
    <br/>
    <!-- main itinerary -->
    <div class="list" ng-repeat="day in days">
      <label class="item item-divider">
        Day {{$index+1}}
      </label>
      <label class="item item-input item-select">
        <div class="input-label">
          Chọn thành phố
        </div>
        <select ng-model="day.cityId" ng-change="showAttractions($index, day.cityId)">
          <option ng-repeat="city in cities" value="{{city.$id}}" ng-selected="city.$id == day.cityId">
            {{city.name}}
          </option>
        </select>
      </label>
      <div class="item item-divider"></div>
      <!-- activities -->
      <div class="list" ng-repeat="activity in day.activities">
        <label class="item item-input item-select">
          <div class="input-label">
            Chọn địa danh
          </div>

          <select ng-model="activity.attractionId">
            <option ng-repeat="attraction in attractions0" value="{{attraction.$id}}"
                    ng-selected="attraction.$id == activity.attractionId">
              {{attraction.name}}
            </option>
          </select>
        </label>
        <label class="item item-input">
          <span class="input-label">Giờ xuất phát</span>
          <input type="text" placeholder="08:00" ng-model="activity.starttime">
        </label>
        <div class="item text-right">
          <button class="button button-assertive" ng-click="addDayActivity(days, day.$id)">
            Thêm hoạt động
          </button>
          <button class="button button-energized"
                  ng-click="saveDayActivity(days, day)">
            Lưu ngày
          </button>
        </div>
      </div>
    </div>
    <button class="item button button-full button-balanced" ng-click="addDay(itinerary, days)"
            ng-show="itinerary.$id!=null">
      Thêm ngày
    </button>
    <button class="item button button-full button-calm" ng-click="completeItinerary()"
            ng-show="itinerary.$id!=null">
      Kết thúc chuyến đi
    </button>
  </ion-content>
</ion-view>
